.exampleContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 4.65rem;
}

.exampleImage{
  width:258px;
  height: 258px;
  margin-bottom: 2.2rem;
  object-fit: contain;

  @media (max-width: 320px) {
    width:200px;
    height: 200px;
  }
}