@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './variables.scss';

html, body{
  font: 20px/1.172 'Roboto', sans-serif;
  background-color: $primary-background;
  color: $primary-color;

  @media (max-width: 320px) {
    font: 16px/1 'Roboto', sans-serif;
  }
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 1.8rem;
  @media (max-width: 1180px) {
    padding-left:4rem;
    padding-right:4rem;
  }
}

a {
  text-decoration: none;
  margin: 0.5rem 0 0 1.3rem;

&:visited{
  color:$primary-color;
}
@media (max-width: 320px) {
  margin: 2rem 0.2rem;
}
}

nav{
  display: flex;
  position: relative;

.active{
  &::after{
    position: absolute;
    content: '';
    width: 4rem;
    height: 1px;
    background-color:$primary-highlight;
    display: block;
    margin-top: 0.3rem;
}}}

h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  color:$primary-highlight;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7rem;
 

  &::before,
  &::after{
    content: '';
    width: 7.8rem;
    height: 4px;
    background-color:$primary-highlight;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  @media (max-width: 768px) {
  font-size: 1.5rem;
  line-height: 1.5rem;
  &::before,
  &::after{
    width: 2.8rem;
    height: 3px;
  }
}

  @media (max-width: 320px) {
  font-size: 1.2rem;
  line-height: 1.2rem;
  
    &::before,
    &::after{
      width: 1.3rem;
      height: 2px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
  margin: 0;

  @media (max-width: 320px) {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
}

button{
  height: 50px;
  background-color:$primary-highlight;
  color:$primary-color;
  border: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  line-height: 1rem;
  padding: 0.75rem 1.3rem;
  max-width: 223px;
}

p{
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: justify;
}

footer{
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}