@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './variables.scss';

html, body{
  font: 20px/1.172 'Roboto', sans-serif;
  background-color: $primary-background;
  color: $primary-color;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 1.8rem;
}

a {
  text-decoration: none;
  margin: 0.5rem 0 0 1.3rem;

&:visited{
  color:$primary-color;
}
}

nav{
  display: flex;
  position: relative;

.active{
  &::after{
    position: absolute;
    content: '';
    width: 4rem;
    height: 1px;
    background-color:$primary-highlight;
    display: block;
    margin-top: 0.3rem;
}
}
}

h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 3,5rem;
  color:$primary-highlight;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.7rem;
 

  &::before,
  &::after{
    content: '';
    width: 7.8rem;
    height: 4px;
    background-color:$primary-highlight;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
}

h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.34;
}

button{
  height: 50px;
  background-color:$primary-highlight;
  color:$primary-color;
  border: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  line-height: 1rem;
  padding: 0.75rem 1.3rem;
  max-width: 223px;
}

p{
  font-size: 1.2rem;
  line-height: 1.7rem;
}

footer{
  padding: 2.2rem 10.5rem;

}